@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A-gdyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A7YdyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A4QdyEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A2gayEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3A1EayEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3AzYayEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xm9-HUzqDCFdgfMm4GnA4aZFrUvtOK3Ax8ayEU.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_chQF5e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_d_QF5e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_dNQF5e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_ehR15e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_eYR15e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_f_R15e.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/figtree/v8/_Xmz-HUzqDCFdgfMsYiV_F7wfS-Bs_fWR15e.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPOcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqW21-e.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWd36-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWE32-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPMcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fquvw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWS3y-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWZ3u-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWA3q-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWH3m-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPxcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda1fqWO3i-pA.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPMcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3Zyuvw.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3TCPn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3VSMn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPKcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda5fg.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3QyNn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3SCKn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3USLn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3ViIn38.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firasansextracondensed/v10/NaPPcYDaAO5dirw6IaFn7lPJFqXmS-M9Atn3wgda3XyJn38.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.btn__transparent {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #2E353B;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2E353B;
  padding: 12px 32px 14px 32px;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__transparent:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: transparent;
  z-index: -2;
}
.btn__transparent:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-image: linear-gradient(to right, #FF8C39, #FF5C5C);
  transition: all 0.3s;
  border-radius: 10px;
  z-index: -1;
}
.btn__transparent:hover {
  color: #FFF;
  border-color: transparent;
}
.btn__transparent:hover .icon {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.btn__transparent:hover:before {
  width: 100%;
}
.btn__gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #F7F7F7;
  padding: 14px 28px 14px 28px;
  background-image: linear-gradient(to right, #FF8C39 10%, #FF5C5C 90%, #f83030 100%);
  background-size: 150% auto;
  transition: all linear 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__gradient:hover {
  color: #f7f7f7FF;
  background-position: right center;
}
.btn__white {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #2E353B;
  padding: 14px 28px 14px 28px;
  background-color: #f7f7f7;
}
.btn__white:hover {
  color: #2E353B;
}
.btn__green {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0.5px;
  color: #f7f7f7;
  padding: 14px 72px 14px 72px;
  background-image: linear-gradient(to right, #0ACF83 30%, #10B475 85%, #2E353B 100%);
  background-size: 200% auto;
  transition: all linear 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn__green:hover {
  color: #f7f7f7FF;
  background-position: right center;
}
.tag__green {
  padding: 6px 10px 5px 10px;
  border-radius: 10px;
  background-color: #0ACF83;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__coral {
  padding: 3px 8px 3px 8px;
  border-radius: 6px;
  background-color: #FF5C5C;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__orange {
  padding: 3px 8px 3px 8px;
  border-radius: 6px;
  background-color: #FF8C39;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.tag__orange-2 {
  padding: 6px 10px 5px 10px;
  border-radius: 10px;
  background-color: #FF8C39;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  width: fit-content;
  color: #f7f7f7;
  line-height: 137%;
}
.float__whatsapp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 85px;
  height: 85px;
  background-color: #25D366;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  z-index: 100;
  transition: all linear 0.15s;
  border: 0;
  border-radius: 100%;
}
.float__whatsapp img {
  width: 50px;
}
.float__whatsapp:hover {
  background-color: white;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.5);
}
.float__whatsapp:hover img {
  filter: brightness(0) saturate(100%) invert(65%) sepia(29%) saturate(3698%) hue-rotate(93deg) brightness(110%) contrast(71%);
}
@media (max-width: 1200px) {
  .float__whatsapp {
    width: 65px;
    height: 65px;
  }
  .float__whatsapp img {
    width: 40px;
  }
}
@keyframes effect--fade_in_right {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes effect--fade_top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.page__header {
  position: absolute;
  width: 100%;
}
.page__header .wrapper {
  max-width: 1225px;
  padding: 32px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.page__header .wrapper .logo {
  width: 200px;
}
.page__header .wrapper .logo a {
  width: 100%;
}
.page__header .wrapper .logo a img {
  width: 100%;
}
.page__header .wrapper .is--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 62px;
}
.page__header .wrapper .is--desktop .links {
  display: flex;
  gap: 42px;
}
.page__header .wrapper .is--desktop .links a {
  font-size: 16px;
  font-weight: 500;
  transition: all linear 0.15s;
  color: #2E353B;
}
.page__header .wrapper .is--desktop .links a:hover {
  cursor: pointer;
  color: #FF8C39;
}
.page__header .wrapper .is--mobile {
  display: none;
}
@media screen and (max-width: 900px) {
  .page__header .wrapper {
    padding: 24px 28px;
  }
  .page__header .wrapper .logo {
    width: 140px;
  }
  .page__header .wrapper .is--mobile {
    display: block;
    flex-grow: 0;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer {
    display: flex;
    justify-content: flex-end;
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__hamburguer img {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay {
    background-image: url('../img/bg-services.png'), linear-gradient(#FF8C39, #FF5C5C);
    background-position: bottom 0 right 0;
    background-repeat: no-repeat;
    z-index: 3001;
    display: none;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: effect--fade_in_right;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden !important;
    transition: all linear 0.5s;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content {
    overflow-y: auto !important;
    height: 90%;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 109px 30px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__close {
    width: fit-content;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
    margin: 0;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links {
    gap: 12px;
    margin-bottom: 64px;
  }
  .page__header .wrapper .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #f7f7f7;
  }
  .page__header .wrapper .is--desktop {
    display: none;
  }
}
.hero {
  background-image: url('../img/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 0 center;
}
.hero .wrapper {
  max-width: 1230px;
  margin-left: auto;
  margin-right: 28px;
  padding: 247px 0 126px 24px;
  display: flex;
  justify-content: center;
  gap: 0;
}
.hero .wrapper .content {
  width: 578px;
  flex-shrink: 0;
}
.hero .wrapper .content .title {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.5px;
  line-height: 108%;
  margin-bottom: 16px;
}
.hero .wrapper .content .title span {
  color: #FF8C39;
}
.hero .wrapper .content .description {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 138%;
  margin-bottom: 24px;
}
.hero .wrapper .content .description span {
  font-weight: 700;
}
.hero .wrapper .content .buttons .btn__gradient {
  width: fit-content;
}
.hero .wrapper .content .bottom {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  margin-top: 62px;
}
.hero .wrapper .content .bottom .logo {
  width: 86px;
}
.hero .wrapper .content .bottom .loader {
  --s: 20px;
  height: calc(var(--s)*0.9);
  width: calc(var(--s)*5);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57), var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35), var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7), var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0, var(--v2));
  -webkit-mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57), var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35), var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7), var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0, var(--v2));
  mask-size: var(--s) var(--s);
  -webkit-mask-size: var(--s) var(--s);
  mask-composite: xor, destination-over;
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude,add;
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#ffb940 0 0) left / 0% 100% #ddd no-repeat;
  animation: l20 2s infinite linear;
}
@keyframes l20 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}
.hero .wrapper .content .link__google {
  color: #2E353B;
  font-family: Figtree;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 134%;
  /* 21.44px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  transition: all linear 0.2s;
}
.hero .wrapper .content .link__google:hover {
  color: #FF5C5C;
}
.hero .wrapper .cover {
  max-width: 619px;
}
@media (max-width: 900px) {
  .hero {
    background-image: url('../img/banner-mobile.png');
    background-position: center center;
  }
  .hero .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 144px 24px 54px 24px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .hero .wrapper .content {
    padding-top: 0;
    width: 100%;
    max-width: 725px;
    text-align: center;
  }
  .hero .wrapper .content .title {
    font-size: 32px;
    margin-bottom: 16px;
    letter-spacing: 1px;
  }
  .hero .wrapper .content .description {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
  }
  .hero .wrapper .content .buttons .btn__gradient {
    width: 100%;
    padding: 14px 18px;
  }
  .hero .wrapper .content .bottom {
    width: 100%;
    justify-content: center;
    margin-top: 42px;
  }
  .hero .wrapper .cover {
    width: 100%;
    max-width: fit-content;
  }
}
@media (min-width: 1560px) {
  .hero .wrapper {
    margin: 0 auto;
  }
}
.steps {
  padding-top: 109px;
  padding-bottom: 152px;
}
.steps .wrapper {
  max-width: 1192px;
  padding: 0 24px;
  margin: 0 auto;
}
.steps .wrapper .heading {
  width: 452px;
}
.steps .wrapper .heading .title {
  font-size: 52px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: 1.6px;
  margin-bottom: 8px;
}
.steps .wrapper .heading .description {
  font-size: 20px;
  line-height: 126%;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.steps .wrapper .heading .description span {
  font-weight: 700;
}
.steps .wrapper .steps__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}
.steps .wrapper .steps__list .line-vertical {
  display: none;
}
.steps .wrapper .steps__list .step__box {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
.steps .wrapper .steps__list .step__box.box-right {
  justify-content: flex-end;
}
.steps .wrapper .steps__list .step__box.box-left {
  justify-content: flex-start;
}
.steps .wrapper .steps__list .step__box .step__content {
  width: 482px;
  position: relative;
  z-index: 2;
}
.steps .wrapper .steps__list .step__box .step__content .step__title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 126%;
  letter-spacing: 0.7px;
  color: #FF5C5C;
  margin-bottom: 8px;
  text-align: left;
}
.steps .wrapper .steps__list .step__box .step__content .step__text {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 127%;
  padding-left: 52px;
  text-align: left;
}
.steps .wrapper .steps__list .step__box .step__content .detail {
  position: absolute;
  z-index: -1;
  right: 28px;
  top: -9px;
}
@media (max-width: 900px) {
  .steps {
    padding: 60px 0;
  }
  .steps .wrapper {
    text-align: center;
    padding: 0 12px;
  }
  .steps .wrapper .heading {
    width: 100%;
    margin-bottom: 57px;
  }
  .steps .wrapper .heading .title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .steps .wrapper .heading .description {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .steps .wrapper .steps__list {
    align-items: center;
    gap: 12px;
  }
  .steps .wrapper .steps__list .line-vertical {
    display: block;
  }
  .steps .wrapper .steps__list .step__box {
    align-items: center;
  }
  .steps .wrapper .steps__list .step__box .line-left,
  .steps .wrapper .steps__list .step__box .line-right {
    display: none;
  }
  .steps .wrapper .steps__list .step__box .step__content {
    width: 100%;
    max-width: 482px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .steps .wrapper .steps__list .step__box .step__content .step__title {
    justify-content: center;
    font-size: 20px;
  }
  .steps .wrapper .steps__list .step__box .step__content .step__title .icon {
    width: 38px;
  }
  .steps .wrapper .steps__list .step__box .step__content .step__text {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .steps .wrapper .steps__list .step__box .step__content .detail {
    top: -12px;
  }
}
.cta-1 {
  background-image: url('../img/bg-cta-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-1 .wrapper {
  max-width: 1112px;
  padding: 72px 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 62px;
}
.cta-1 .wrapper .content {
  width: 554px;
}
.cta-1 .wrapper .content .title {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 1.3px;
  margin-bottom: 12px;
}
.cta-1 .wrapper .content .subtitle {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}
@media (max-width: 900px) {
  .cta-1 {
    background-image: url('../img/bg-cta-1-mobile.png');
  }
  .cta-1 .wrapper {
    padding: 60px 32px;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .cta-1 .wrapper .content {
    width: 100%;
    margin-bottom: 62px;
    text-align: center;
  }
  .cta-1 .wrapper .content .title {
    font-size: 32px;
    letter-spacing: 1px;
  }
  .cta-1 .wrapper .content .subtitle {
    font-size: 28px;
    letter-spacing: 0.8px;
  }
  .cta-1 .wrapper .btn__green {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.sobre {
  background-image: url('../img/cover-about.png');
  background-repeat: no-repeat;
  background-position: right 0 top 0;
  background-size: auto 100%;
  padding-top: 91px;
  padding-bottom: 109px;
  margin-top: 132px;
  margin-bottom: 99px;
}
.sobre .wrapper {
  border-radius: 60px 0;
  background-color: #f7f7f7;
  box-shadow: -6px 0 20px rgba(46, 53, 59, 0.15);
  padding: 71px 82px 72px 96px;
  width: 100%;
  max-width: 702px;
  margin-left: 9%;
  margin-right: auto;
}
.sobre .wrapper .title {
  font-size: 42px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: 1.26px;
  margin-bottom: 20px;
}
.sobre .wrapper .subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: 0.7px;
  margin-bottom: 32px;
}
.sobre .wrapper .subtitle span {
  font-weight: 700;
}
.sobre .wrapper .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 163%;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.sobre .wrapper .text span {
  font-weight: 700;
}
.sobre .wrapper .btn__green {
  width: fit-content;
}
@media (max-width: 900px) {
  .sobre {
    padding-top: 62px;
    padding-bottom: 302px;
    background-image: url('../img/cover-about-mobile.png');
    background-position: left 0 bottom 0;
    background-size: 100% auto;
    margin-bottom: 32px;
    margin-top: 32px;
  }
  .sobre .wrapper {
    border-radius: 40px 0;
    padding: 36px 27px 40px 27px;
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
  }
  .sobre .wrapper .title {
    font-size: 32px;
    letter-spacing: 1.3px;
    margin-bottom: 16px;
  }
  .sobre .wrapper .subtitle {
    font-size: 20px;
    letter-spacing: 0.6px;
    width: 235px;
    margin-bottom: 18px;
  }
  .sobre .wrapper .text {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 32px;
  }
  .sobre .wrapper .btn__green {
    width: 100%;
  }
}
.services {
  padding-top: 25px;
  padding-bottom: 200px;
  background-image: url('../img/bg-services.png');
  background-repeat: no-repeat;
  background-position: left 0 bottom 28px;
  background-size: 553px auto;
}
.services .wrapper {
  max-width: 1284px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .wrapper .heading {
  margin-bottom: 90px;
  text-align: center;
}
.services .wrapper .heading .title {
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 1.6px;
  margin-bottom: 12px;
}
.services .wrapper .heading .title span {
  color: #FF8C39;
}
.services .wrapper .heading .description {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.6px;
}
.services .wrapper .heading .description span {
  font-weight: 700;
}
.services .wrapper .services__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.services .wrapper .services__list .card__service {
  width: 325px;
  height: 323px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 6px 6px 20px rgba(46, 53, 59, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 24px 60px 24px;
  text-align: center;
}
.services .wrapper .services__list .card__service .icon {
  width: fit-content;
  margin-bottom: 16px;
}
.services .wrapper .services__list .card__service .card__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 103%;
  margin-bottom: 8px;
}
.services .wrapper .services__list .card__service .card__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 137%;
}
.services .wrapper .services__list .card__service .btn__orange {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  gap: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #FF8C39;
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 600;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: all linear 0.15s;
}
.services .wrapper .services__list .card__service .btn__orange:hover {
  color: #f7f7f7;
  background-color: #FF5C5C;
}
@media (max-width: 900px) {
  .services {
    padding-top: 62px;
    padding-bottom: 62px;
    background-size: 550px;
    background-position: bottom 320px left -140px;
  }
  .services .wrapper .heading {
    margin-bottom: 62px;
  }
  .services .wrapper .heading .title {
    font-size: 42px;
    letter-spacing: 1.3px;
  }
  .services .wrapper .heading .description {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  .services .wrapper .services__list {
    gap: 32px;
  }
}
.numbers {
  background-image: url('../img/cover-numbers.png'), linear-gradient(to right, rgba(255, 92, 92, 0.74), rgba(255, 140, 57, 0.74));
  background-repeat: no-repeat;
  background-position: left 0 bottom 0, top 0 left 0;
  background-size: 280px, 100%;
}
.numbers .wrapper {
  max-width: 953px;
  width: 100%;
  padding: 60px 24px;
  margin-right: 6%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.numbers .wrapper .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #f7f7f7;
}
.numbers .wrapper .info .number {
  font-size: 120px;
  font-weight: 900;
  line-height: 92%;
  letter-spacing: 3.6px;
}
.numbers .wrapper .info .text {
  font-size: 18px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .numbers {
    background-image: url('../img/cover-numbers.png'), linear-gradient(to bottom, rgba(255, 92, 92, 0.74), rgba(255, 140, 57, 0.74));
  }
  .numbers .wrapper {
    flex-direction: column;
    padding: 85px 24px 255px 24px;
    gap: 48px;
  }
}
.skills {
  background-color: rgba(255, 92, 92, 0.15);
  padding-top: 62px;
  padding-bottom: 90px;
}
.skills .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.skills .wrapper .title {
  font-size: 52px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: 1.6px;
  text-align: center;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 30px;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot {
  height: 8px !important;
  display: flex;
  align-items: center;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot span {
  margin: 0;
  width: 10px;
  height: 10px;
  background-color: #FFAF76;
  border-radius: 100%;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot.active span {
  background-color: #FF8C39;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .owl-dots.disabled {
  display: none;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .item .skill__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  border-radius: 100%;
  box-shadow: 0 4px 15px rgba(46, 53, 59, 0.15);
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}
.skills .wrapper .owl-carousel.owl-theme.skills__carousel .item .skill__item .skill__icon {
  width: fit-content;
}
.portfolio {
  padding-top: 6px;
  padding-bottom: 119px;
  background-image: url('../img/detail-1.png');
  background-position: top 556px left 0;
  background-repeat: no-repeat;
  background-size: 100%;
}
.portfolio .wrapper {
  max-width: 960px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 79px;
}
.portfolio .wrapper .heading {
  text-align: center;
}
.portfolio .wrapper .heading .title {
  font-size: 68px;
  font-weight: 700;
  line-height: 126%;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.portfolio .wrapper .heading .description {
  font-size: 24px;
  font-weight: 400;
  line-height: 126%;
  letter-spacing: 0.7px;
}
.portfolio .wrapper .heading .description span {
  font-weight: 700;
}
.portfolio .wrapper .jobs__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.portfolio .wrapper .jobs__list .job {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.portfolio .wrapper .jobs__list .job .cover {
  width: 100%;
  max-width: 488px;
}
.portfolio .wrapper .jobs__list .job .content {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.portfolio .wrapper .jobs__list .job .content .job__title {
  margin-top: 6px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 137%;
  letter-spacing: 1.2px;
}
.portfolio .wrapper .jobs__list .job .content .job__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 137%;
  letter-spacing: 0.4px;
  margin-bottom: 16px;
}
.portfolio .wrapper .jobs__list .job .content .btn__transparent {
  width: fit-content;
  gap: 10px;
}
@media (max-width: 900px) {
  .portfolio {
    padding-top: 32px;
    padding-bottom: 80px;
    background-image: none;
  }
  .portfolio .wrapper {
    gap: 46px;
  }
  .portfolio .wrapper .heading .title {
    font-size: 42px;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
  }
  .portfolio .wrapper .heading .description {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .portfolio .wrapper .jobs__list {
    gap: 82px;
  }
  .portfolio .wrapper .jobs__list .job {
    flex-direction: column;
    gap: 24px;
  }
  .portfolio .wrapper .jobs__list .job.job-reverse {
    flex-direction: column-reverse;
  }
  .portfolio .wrapper .jobs__list .job .content {
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .portfolio .wrapper .jobs__list .job .content .btn__transparent {
    width: 100%;
  }
}
.benefits {
  padding-top: 97px;
  padding-bottom: 142px;
}
.benefits .wrapper {
  max-width: 1172px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.benefits .wrapper .heading {
  text-align: center;
}
.benefits .wrapper .heading .head__title {
  color: #2E353B;
  text-align: center;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 126%;
  /* 30.24px */
  letter-spacing: 1.44px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.benefits .wrapper .heading .title {
  background: linear-gradient(to right, #FF5C5C, #FF8C39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.4px;
  margin-bottom: 10px;
  line-height: 126%;
}
.benefits .wrapper .heading .description {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 126%;
}
.benefits .wrapper .heading .description span {
  font-weight: 700;
}
.benefits .wrapper .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.benefits .wrapper .cards .card__benefit {
  width: 269px;
  height: 233px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 6px 6px 25.4px 0 rgba(46, 53, 59, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}
.benefits .wrapper .cards .card__benefit .icon {
  width: fit-content;
  margin-bottom: 18px;
}
.benefits .wrapper .cards .card__benefit .card__title {
  color: #2E353B;
  text-align: center;
  font-family: Figtree;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 101%;
  /* 20.2px */
  letter-spacing: 0.4px;
  margin-bottom: 12px;
}
.benefits .wrapper .cards .card__benefit .card__text {
  color: #2E353B;
  text-align: center;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 19.2px */
  letter-spacing: 0.32px;
}
@media (max-width: 900px) {
  .benefits {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .benefits .wrapper {
    gap: 60px;
  }
  .benefits .wrapper .heading .head__title {
    font-size: 16px;
    letter-spacing: 1px;
  }
  .benefits .wrapper .heading .title {
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 118%;
  }
  .benefits .wrapper .heading .description {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .benefits .wrapper .benefits__list {
    flex-direction: column;
    align-items: center;
  }
  .benefits .wrapper .benefits__list .benefits__card {
    padding: 32px 24px 96px 24px;
  }
  .benefits .wrapper .benefits__list .benefits__card .btn__gradient,
  .benefits .wrapper .benefits__list .benefits__card .btn__green {
    padding: 14px 24px;
    font-size: 16px;
  }
}
.testimonials {
  padding-top: 62px;
  padding-bottom: 120px;
  overflow-x: hidden;
}
.testimonials .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 52px;
}
.testimonials .wrapper .background {
  background-image: linear-gradient(to right, #FF8C39, #FF5C5C);
  height: 310px;
  width: 55%;
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.testimonials .wrapper .heading {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 270px;
  width: 346px;
  margin-top: 15px;
  margin-left: 10%;
}
.testimonials .wrapper .heading .top .title {
  font-size: 52px;
  line-height: 134%;
  letter-spacing: 1.6px;
  margin-bottom: 12px;
  font-weight: 700;
}
.testimonials .wrapper .heading .top .subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 134%;
  letter-spacing: 0.6px;
}
.testimonials .wrapper .heading .top .subtitle .link {
  font-weight: 700;
  color: #2E353B;
  text-decoration: underline;
  transition: all linear 0.15s;
  display: inline;
}
.testimonials .wrapper .heading .top .subtitle .link:hover {
  color: #FF8C39;
}
.testimonials .wrapper .heading .bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.testimonials .wrapper .heading .bottom .logo__google {
  width: fit-content;
}
.testimonials .wrapper .heading .bottom .loader {
  --s: 40px;
  height: calc(var(--s)*0.9);
  width: calc(var(--s)*5);
  --v1: transparent, #000 0.5deg 108deg, #0000 109deg;
  --v2: transparent, #000 0.5deg 36deg, #0000 37deg;
  mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57), var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35), var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7), var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0, var(--v2));
  -webkit-mask: conic-gradient(from 54deg at calc(var(--s)*0.68) calc(var(--s)*0.57), var(--v1)), conic-gradient(from 90deg at calc(var(--s)*0.02) calc(var(--s)*0.35), var(--v2)), conic-gradient(from 126deg at calc(var(--s)*0.5) calc(var(--s)*0.7), var(--v1)), conic-gradient(from 162deg at calc(var(--s)*0.5) 0, var(--v2));
  mask-size: var(--s) var(--s);
  -webkit-mask-size: var(--s) var(--s);
  mask-composite: xor, destination-over;
  -webkit-mask-composite: xor, destination-over;
  mask-composite: exclude,add;
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  background: linear-gradient(#ffb940 0 0) left / 0% 100% #ddd no-repeat;
  animation: l20 2s infinite linear;
}
@keyframes l20 {
  90%,
  100% {
    background-size: 100% 100%;
  }
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel {
  margin-top: 72px;
  position: relative;
  z-index: 3;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots {
  display: none;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial {
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: -6px 6px 25px rgba(46, 53, 59, 0.15);
  width: 330px;
  height: 300px;
  padding: 26px 32px;
  flex-shrink: 0;
  margin-bottom: 30px;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading .customer {
  display: flex;
  align-items: center;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading .customer .test__logo {
  width: fit-content;
  margin-right: 18px;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading .customer .test__info .name {
  font-size: 20px;
  font-weight: 700;
  line-height: 134%;
  letter-spacing: 0.6px;
  color: #FF5C5C;
  margin-bottom: 6px;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading .customer .test__info .enterprise {
  font-size: 14px;
  font-weight: 500;
  line-height: 134%;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__heading .icon__google {
  width: fit-content;
  margin-top: 5px;
  align-self: flex-start;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .icon__stars {
  width: fit-content;
  margin-bottom: 8px;
}
.testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial .card__text {
  font-size: 14px;
  line-height: 134%;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .testimonials {
    padding-bottom: 62px;
  }
  .testimonials .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .testimonials .wrapper .background {
    width: 100%;
    height: 155px;
    border-radius: 0;
    top: auto;
    bottom: 160px;
    left: 0;
  }
  .testimonials .wrapper .heading {
    align-items: center;
    text-align: center;
    height: fit-content;
    gap: 32px;
    width: 100%;
    margin: 0 auto 32px auto;
    padding: 0 24px;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel {
    margin-top: 0;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots .owl-dot {
    height: 8px !important;
    display: flex;
    align-items: center;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots .owl-dot span {
    margin: 0;
    width: 10px;
    height: 10px;
    background-color: #FFAF76;
    border-radius: 100%;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots .owl-dot.active span {
    background-color: #FF8C39;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .owl-dots.disabled {
    display: none;
  }
  .testimonials .wrapper .owl-carousel.owl-theme.testimonials__carousel .card__testimonial {
    width: 100%;
    max-width: 370px;
    height: 100%;
  }
}
.cta-2 {
  padding: 73px 0;
  background-image: url('../img/bg-cta-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.cta-2 .wrapper {
  max-width: 1158px;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 52px;
}
.cta-2 .wrapper .content {
  width: 728px;
}
.cta-2 .wrapper .content .title {
  background: linear-gradient(to right, #FF5C5C, #FF8C39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
  line-height: auto;
}
.cta-2 .wrapper .content .subtitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 129%;
  letter-spacing: 1px;
}
.cta-2 .wrapper .btn__gradient {
  width: 332px;
}
@media (max-width: 900px) {
  .cta-2 {
    padding-top: 74px;
    padding-bottom: 150px;
    background-image: url('../img/bg-cta-2-mobile.png');
  }
  .cta-2 .wrapper {
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
    gap: 92px;
  }
  .cta-2 .wrapper .content {
    text-align: center;
    width: fit-content;
  }
  .cta-2 .wrapper .content .title {
    margin-bottom: 32px;
  }
  .cta-2 .wrapper .content .subtitle {
    font-size: 24px;
    letter-spacing: 0.7px;
  }
}
.page__footer .footer__content {
  padding-top: 63px;
  padding-bottom: 66px;
}
.page__footer .footer__content .wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 24px;
}
.page__footer .footer__content .wrapper .footer__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.page__footer .footer__content .wrapper .footer__links .link__logo {
  width: 200px;
}
.page__footer .footer__content .wrapper .footer__links .link__logo .link__footer {
  width: 100%;
}
.page__footer .footer__content .wrapper .footer__nav {
  display: flex;
  gap: 86px;
}
.page__footer .footer__content .wrapper .footer__nav .col--1,
.page__footer .footer__content .wrapper .footer__nav .col--2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page__footer .footer__content .wrapper .footer__nav .col--1 .nav__link,
.page__footer .footer__content .wrapper .footer__nav .col--2 .nav__link {
  color: #2E353B;
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.15s;
}
.page__footer .footer__content .wrapper .footer__nav .col--1 .nav__link:hover,
.page__footer .footer__content .wrapper .footer__nav .col--2 .nav__link:hover {
  color: #FF8C39;
  cursor: pointer;
}
.page__footer .footer__content .wrapper .contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.page__footer .footer__content .wrapper .contact .contact__link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  transition: all linear 0.15s;
  color: #222;
}
.page__footer .footer__content .wrapper .contact .contact__link .icon__contact {
  width: fit-content;
}
.page__footer .footer__content .wrapper .contact .contact__link:hover {
  color: #FF8C39;
  cursor: pointer;
}
.page__footer .footer__content .wrapper .time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #222;
  font-size: 16px;
  line-height: 149%;
}
.page__footer .footer__content .wrapper .time .icon {
  width: fit-content;
}
.page__footer .footer__copyrights {
  background-color: #2E353B;
  margin: 0 auto;
  padding: 30px 24px;
}
.page__footer .footer__copyrights .copyright {
  font-size: 16px;
  line-height: 134%;
  font-weight: 400;
  color: #FFF;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .page__footer .footer__content .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 42px;
  }
  .page__footer .footer__content .wrapper .footer__links {
    align-items: center;
  }
  .page__footer .footer__content .wrapper .footer__links .links__social {
    margin-left: 0;
  }
  .page__footer .footer__content .wrapper .footer__nav {
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .page__footer .footer__content .wrapper .footer__nav .col--1,
  .page__footer .footer__content .wrapper .footer__nav .col--2 {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__content .wrapper .contact {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__content .wrapper .time {
    align-items: center;
    text-align: center;
  }
  .page__footer .footer__copyrights {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }
  .page__footer .footer__copyrights .copyright {
    padding: 0 24px;
  }
}
body {
  background-color: #F7F7F7;
  font-family: "Figtree", sans serif;
  color: #2E353B;
}
.brands__scrolling {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
  background-color: #0ACF83;
  z-index: 10;
}
.brands__scrolling .do-not-overflow {
  overflow: hidden;
  padding: 28px 0 32px 0;
}
.brands__scrolling .do-not-overflow .ticker-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  object-fit: contain;
}
.brands__scrolling .do-not-overflow .ticker-container .ticker {
  display: flex;
  align-items: center;
  gap: 28px;
  animation: scroll 30s linear infinite;
}
.brands__scrolling .do-not-overflow .ticker-container .ticker .text {
  color: #EBF5F0;
  text-align: center;
  font-family: "Fira Sans Extra Condensed";
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  min-width: fit-content;
}
@media (max-width: 900px) {
  .brands__scrolling .do-not-overflow {
    padding: 24px 0;
  }
  .brands__scrolling .do-not-overflow .ticker-container .ticker {
    animation: scroll 10s linear infinite;
  }
  .brands__scrolling .do-not-overflow .ticker-container .ticker .text {
    font-size: 24px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
