@font-face {
  font-family: 'Coiny';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/coiny/v16/gyByhwU1K989PXwb.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffBzCKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffHjDKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v17/NaPDcZTIAOhVxoMyOr9n_E7ffEDBKIw.ttf) format('truetype');
}
@font-face {
  font-family: 'Gugi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/gugi/v15/A2BVn5dXywshVA4.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
.btn__gradient {
  padding: 12px 30px;
  border-radius: 10px;
  background-image: linear-gradient(91deg, #323A82 1.9%, #C284A2 99.66%);
  display: flex;
  gap: 10px;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: fit-content;
  transition: all linear 0.15s;
  position: relative;
  z-index: 1;
}
.btn__gradient .text {
  z-index: 1;
  position: relative;
  font: 400 18px 'Titillium Web', sans-serif;
  color: #E6E7EC;
}
.btn__gradient .icon__whats {
  width: 16px;
  z-index: 1;
}
.btn__gradient::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(91deg, #C284A2 1.9%, #323A82 99.66%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 0;
  opacity: 0;
  transition: all linear 0.5s;
}
.btn__gradient:hover {
  color: #E6E7EC;
}
.btn__gradient:hover::after {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .container.util--container1198 {
    max-width: 1198px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1016 {
    max-width: 1016px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container802 {
    max-width: 802px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1000 {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1028 {
    max-width: 1028px;
  }
}
@media screen and (max-width: 768px) {
  .util--padding30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.util--carousel {
  padding-left: 0;
  padding-right: 0;
}
@keyframes effect--click {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px) translateX(-20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.page__header {
  padding-top: 37px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
}
.page__header .logo__header a {
  width: 150px;
}
.page__header .logo__header a .logo {
  width: 150px;
}
.page__header .is--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page__header .is--mobile .navbar__hamburguer {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}
.page__header .is--mobile .navbar__hamburguer img {
  width: 35px;
}
.page__header .is--mobile .navbar__overlay {
  background-image: linear-gradient(0deg, #943e81 0%, #550979 20%, #270c3d 100%);
  background-color: #270c3d;
  background-repeat: no-repeat;
  z-index: 3001;
  display: none;
}
.page__header .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 54px 109px 30px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 77px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 600 16px 'Titillium Web', sans-serif;
  color: white;
  text-decoration: none;
  margin-bottom: 18px;
  text-align: center;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__header {
    padding-top: 30px;
    padding-bottom: 85px;
  }
  .page__header .is--desktop {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .page__header .is--desktop .logo__header a {
    width: 234px;
  }
  .page__header .is--desktop .logo__header a .logo {
    width: 234px;
  }
  .page__header .is--desktop nav {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
  }
  .page__header .is--desktop nav .header__link {
    font: 600 16px 'Titillium Web', sans-serif;
    color: white;
    transition: all linear 0.15s;
    letter-spacing: 1px;
  }
  .page__header .is--desktop nav .header__link:hover {
    transform: translateY(-5px);
    color: #F5C5CB;
    cursor: pointer;
  }
  .page__header .is--mobile {
    display: none;
  }
}
.page__banner {
  background-color: #270c3d;
  background-image: url('../img/banner/bg-hero-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 186px;
  padding-bottom: 100px;
}
.page__banner .banner__content .banner__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page__banner .banner__content .banner__text h1 {
  font: 400 32px 'Gugi', sans-serif;
  color: #FDF9FC;
}
.page__banner .banner__content .banner__text .subtitle {
  font: 600 20px 'Titillium Web', sans-serif;
  color: #FDF9FC;
  margin-bottom: 23px;
  padding-left: 3px;
}
.page__banner .banner__content .banner__text .description {
  font: 400 16px/22px 'Titillium Web', sans-serif;
  color: #FDF9FC;
  letter-spacing: 0.8px;
  max-width: 380px;
  padding-left: 3px;
  margin-bottom: 50px;
}
.page__banner .banner__content .banner__text .description span {
  font-weight: 700;
}
.page__banner .chevrons__down {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 120px;
}
.page__banner .chevrons__down .chevrons {
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .page__banner {
    padding-top: 273px;
    padding-bottom: 50px;
    background-position: center top 0;
    background-image: url('../img/banner/bg-hero-desktop.png');
  }
  .page__banner .banner__content .banner__text {
    margin-left: 10%;
  }
  .page__banner .banner__content .banner__text h1 {
    font-size: 52px;
  }
  .page__banner .chevrons__down {
    margin-top: 250px;
  }
}
.page__about {
  background-image: linear-gradient(92deg, #141527 2.76%, #181830 25.47%, #171932 40.68%);
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page__about .about__wrapper {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.page__about .about__wrapper .about__content {
  margin-bottom: 40px;
}
.page__about .about__wrapper .about__content h2 {
  font: 400 36px 'Gugi', sans-serif;
  color: #E6E7EC;
  margin-bottom: 15px;
  text-align: center;
}
.page__about .about__wrapper .about__content .about__text {
  font: 400 14px 'Titillium Web', sans-serif;
  color: #E6E7EC;
  text-align: center;
}
.page__about .about__wrapper .about__content .about__text span {
  color: #B769FF;
  font-weight: 700;
}
.page__about .about__wrapper .about__detail {
  position: absolute;
  bottom: -79px;
  right: -14px;
  width: 64px;
}
@media screen and (min-width: 768px) {
  .page__about {
    padding-top: 70px;
    padding-bottom: 80px;
  }
  .page__about .about__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .page__about .about__wrapper .about__content {
    width: 488px;
    padding-top: 42px;
    margin-bottom: 0;
  }
  .page__about .about__wrapper .about__content h2 {
    text-align: left;
  }
  .page__about .about__wrapper .about__content .about__text {
    font-size: 16px;
    margin-bottom: 0;
    text-align: justify;
  }
  .page__about .about__wrapper .about__detail {
    position: absolute;
    bottom: -106px;
    right: -39px;
    width: fit-content;
  }
}
.page__training {
  padding-top: 60px;
  padding-bottom: 60px;
}
.page__training .title {
  font: 800 32px 'Montserrat', sans-serif;
  color: #270C3D;
  text-align: center;
  align-items: center;
  margin-bottom: 56px;
}
.page__training .title img {
  width: fit-content;
  margin-bottom: 4px;
}
.page__training .education__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.page__training .education__cards .card__graduation {
  background-color: #FDF9FC;
  border-radius: 5px;
  box-shadow: 4px 4px 16px rgba(39, 12, 61, 0.3);
  width: 284px;
  height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.page__training .education__cards .card__graduation .card__image {
  margin-bottom: 16px;
  max-width: 170px;
}
.page__training .education__cards .card__graduation h3 {
  font: 600 16px 'Raleway', sans-serif;
  color: #270C3D;
  margin-bottom: 5px;
  text-align: center;
  line-height: 127.4%;
}
.page__training .education__cards .card__graduation p {
  font: 400 14px 'Raleway', sans-serif;
  color: #270C3D;
  text-align: center;
}
.page__training .education__cards .card__courses {
  width: 284px;
  height: 380px;
  background-color: #FDF9FC;
  border-radius: 5px;
  box-shadow: 4px 4px 16px rgba(39, 12, 61, 0.3);
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
}
.page__training .education__cards .card__courses .icon__click {
  width: fit-content;
  position: absolute;
  top: 208px;
  right: 29px;
  animation: effect--click 3s infinite both;
}
.page__training .education__cards .card__courses .card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 20px;
}
.page__training .education__cards .card__courses .card__header .logo {
  width: fit-content;
}
.page__training .education__cards .card__courses .card__header h3 {
  font: 800 18px 'Montserrat', sans-serif;
  color: #270C3D;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
}
.page__training .education__cards .card__courses .card__title {
  margin-bottom: 25px;
  margin-top: 10px;
}
.page__training .education__cards .card__courses .card__title h3 {
  font: 800 18px 'Montserrat', sans-serif;
  color: #270C3D;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
}
.page__training .education__cards .card__courses .courses__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.page__training .education__cards .card__courses .courses__list .courses {
  font: 400 16px 'Raleway', sans-serif;
  color: #270C3D;
  transition: all linear 0.15s;
  width: fit-content;
}
.page__training .education__cards .card__courses .courses__list .courses:hover {
  color: #8E2790;
  font-weight: 500;
  cursor: pointer;
  transform: translateX(5px);
}
.page__training .education__cards .card__courses .courses__list .course__title {
  font: 400 16px 'Raleway', sans-serif;
  color: #270C3D;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .page__training {
    padding-top: 94px;
    padding-bottom: 117px;
    background-image: url('../img/formacao/bg-education.png');
    background-repeat: no-repeat;
    background-position: bottom 0 right 0;
  }
  .page__training .title {
    font-size: 46px;
    margin-bottom: 76px;
  }
  .page__training .education__cards {
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    flex-wrap: wrap;
  }
  .page__training .education__cards .card__courses {
    width: 433px;
    height: 242px;
  }
  .page__training .education__cards .card__courses .icon__click {
    top: 99px;
  }
  .page__training .education__cards .card__courses .card__header {
    flex-direction: row;
    align-items: flex-end;
    gap: 26px;
    margin-bottom: 25px;
  }
  .page__training .education__cards .card__courses .card__header h3 {
    align-items: flex-start;
    text-align: left;
    font-size: 20px;
    line-height: normal;
  }
  .page__training .education__cards .card__courses .card__title {
    text-align: left;
    font-size: 20px;
    line-height: normal;
  }
  .page__training .education__cards .card__courses .courses__list {
    gap: 11px;
  }
}
.page__skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #270c3d;
  background-image: url('../img/skills/bg-skills.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__skills .title {
  font: 800 40px 'Montserrat', sans-serif;
  color: white;
  margin-bottom: 89px;
  text-align: center;
  letter-spacing: 2px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .card__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .card__skill .card__image {
  background-color: white;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .card__skill .card__image .icon__skill {
  max-width: 90px;
  max-height: 104px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .card__skill h3 {
  font: 600 26px 'Raleway', sans-serif;
  color: white;
  text-align: center;
  letter-spacing: 0.8px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot {
  height: 10px !important;
  display: flex;
  align-items: center;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot span {
  margin: 0;
  width: 6px;
  height: 6px;
  background-color: #FDF9FC;
  transition: all linear 0.25s;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
}
.page__skills .carousel .owl-carousel.owl-theme.skills__carousel .owl-dots.disabled {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__skills {
    padding-top: 98px;
    padding-bottom: 110px;
  }
  .page__skills .title {
    font-size: 46px;
  }
  .page__skills .carousel {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.page__projects {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: white;
}
.page__projects .title {
  font: 800 32px 'Montserrat', sans-serif;
  color: #270C3D;
  margin-bottom: 40px;
  text-align: center;
}
.page__projects .accordion {
  margin-bottom: 30px;
}
.page__projects .accordion .projects__enterprises .title__enterprises {
  background-color: #2E2345;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 {
  position: relative;
  z-index: 1;
  width: 100%;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  transition: all linear 0.15s;
  position: relative;
  z-index: 1;
  border: none;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title p {
  font: 600 16px 'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: white;
  position: relative;
  z-index: 1;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title .chevrons__right {
  height: 16px;
  position: relative;
  z-index: 1;
  transition: all linear 0.15s;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title:focus {
  box-shadow: none;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #270C3D, #550979, #172C9A, #1C64B9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
  opacity: 0;
  transition: all linear 0.5s;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title:hover::after {
  opacity: 1;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title.active .chevrons__right {
  transform: rotate(90deg);
}
.page__projects .accordion .projects__enterprises .projects__content {
  padding-bottom: 40px;
  padding-top: 30px;
}
.page__projects .accordion .projects__enterprises .projects__content .description {
  font: 400 14px 'Raleway', sans-serif;
  color: #270C3D;
  line-height: 168%;
  padding-bottom: 40px;
  text-align: center;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list {
  display: none;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job {
  position: relative;
  width: 245px;
  height: 245px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 0;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .photo__job {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all linear 0.15s;
  position: relative;
  z-index: 0;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  position: absolute;
  z-index: 11;
  bottom: 14px;
  left: 16px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .card__text h3 {
  font: 600 18px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 1.53px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .card__text .links {
  display: flex;
  gap: 9px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .card__text .links .site__link {
  font: 500 14px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 0.21px;
  border-radius: 10px;
  border: 1px solid #FDF9FC;
  padding: 5px 8px;
  transition: all linear 0.15s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job .card__text .links .site__link:hover {
  background-color: #FDF9FC;
  color: #270C3D;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all linear 0.5s;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(21, 10, 31, 0) 0%, rgba(21, 10, 31, 0.68) 68.23%, #150A1F 100%);
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .card__job:hover .photo__job {
  transform: scale(1.2);
  border-radius: 20px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .owl-dots .owl-dot {
  height: 10px !important;
  display: flex;
  align-items: center;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .owl-dots .owl-dot span {
  margin: 0;
  width: 6px;
  height: 6px;
  background-color: #270C3D;
  transition: all linear 0.25s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel .owl-dots.disabled {
  display: none;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job {
  width: 245px;
  height: 245px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .photo__job {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all linear 0.15s;
  position: relative;
  z-index: 0;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  position: absolute;
  z-index: 11;
  bottom: 14px;
  left: 16px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .card__text h3 {
  font: 600 18px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 1.53px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .card__text .links {
  display: flex;
  gap: 9px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .card__text .links .site__link {
  font: 500 14px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 0.21px;
  border-radius: 10px;
  border: 1px solid #FDF9FC;
  padding: 5px 8px;
  transition: all linear 0.15s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job .card__text .links .site__link:hover {
  background-color: #FDF9FC;
  color: #270C3D;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all linear 0.5s;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(21, 10, 31, 0) 0%, rgba(21, 10, 31, 0.68) 68.23%, #150A1F 100%);
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .card__job:hover .photo__job {
  transform: scale(1.2);
  border-radius: 20px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .owl-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .owl-dots .owl-dot {
  height: 10px !important;
  display: flex;
  align-items: center;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .owl-dots .owl-dot span {
  margin: 0;
  width: 6px;
  height: 6px;
  background-color: #270C3D;
  transition: all linear 0.25s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .owl-dots .owl-dot.active span {
  width: 10px;
  height: 10px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__mobile .owl-carousel.owl-theme.projects__carousel2 .owl-dots.disabled {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__projects {
    padding-top: 92px;
    padding-bottom: 70px;
    background-position: top 11px right 13px;
    background-size: auto 300px;
  }
  .page__projects .title {
    align-items: center;
    font-size: 46px;
    margin-bottom: 70px;
  }
  .page__projects .accordion .projects__enterprises .title__enterprises {
    margin-left: 10%;
    margin-right: 10%;
  }
  .page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title {
    padding: 30px 40px;
  }
  .page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title p {
    font-size: 26px;
  }
  .page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title .chevrons__right {
    height: 20px;
  }
  .page__projects .accordion .projects__enterprises .projects__content {
    padding-top: 57px;
    padding-bottom: 118px;
  }
  .page__projects .accordion .projects__enterprises .projects__content.content2 {
    padding-bottom: 0;
  }
  .page__projects .accordion .projects__enterprises .projects__content .description {
    font-size: 18px;
    line-height: 171.9%;
    padding-bottom: 80px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: left;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job {
    position: relative;
    width: 245px;
    height: 245px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 0;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .photo__job {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: all linear 0.15s;
    position: relative;
    z-index: 0;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
    position: absolute;
    z-index: 11;
    bottom: 14px;
    left: 16px;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text h3 {
    font: 600 18px 'Raleway', sans-serif;
    color: #FDF9FC;
    letter-spacing: 1.53px;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links {
    display: flex;
    gap: 9px;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links .site__link {
    font: 500 14px 'Raleway', sans-serif;
    color: #FDF9FC;
    letter-spacing: 0.21px;
    border-radius: 10px;
    border: 1px solid #FDF9FC;
    padding: 5px 8px;
    transition: all linear 0.15s;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links .site__link:hover {
    background-color: #FDF9FC;
    color: #270C3D;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all linear 0.5s;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(21, 10, 31, 0) 0%, rgba(21, 10, 31, 0.68) 68.23%, #150A1F 100%);
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job:hover .photo__job {
    transform: scale(1.2);
    border-radius: 20px;
  }
  .page__projects .accordion .projects__enterprises .projects__content .projects__mobile {
    display: none;
  }
}
.page__contact {
  padding-top: 60px;
  background-image: url('../img/contato/bg-contact.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__contact .contact__content {
  margin-bottom: 48px;
}
.page__contact .contact__content h2 {
  font: 600 22px 'Montserrat', sans-serif;
  color: #FDF9FC;
  margin-bottom: 6px;
}
.page__contact .contact__content h2 img {
  width: fit-content;
  margin-bottom: 6px;
}
.page__contact .contact__content h3 {
  font: 600 22px 'Montserrat', sans-serif;
  color: #FDF9FC;
  margin-bottom: 25px;
}
.page__contact .contact__content h3 .icon__smile {
  width: 30px;
}
.page__contact .contact__content .text {
  font: 400 16px 'Raleway', sans-serif;
  color: #FDF9FC;
  line-height: 145.9%;
  margin-bottom: 20px;
}
.page__contact .contact__content .contact__button {
  padding: 13px 24px;
  border: 1px solid #FDF9FC;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 15px;
  transition: all linear 0.15s;
  position: relative;
  z-index: 1;
}
.page__contact .contact__content .contact__button .text {
  z-index: 1;
  position: relative;
  font: 600 18px 'Raleway', sans-serif;
  color: #FDF9FC;
}
.page__contact .contact__content .contact__button .icon__button {
  width: 20px;
  margin-right: 9px;
}
.page__contact .contact__content .contact__button::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #270C3D 0%, #550979 28.65%, #920C74 53.65%, #F44B74 85.94%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
  opacity: 0;
  transition: all linear 0.5s;
}
.page__contact .contact__content .contact__button:hover::after {
  opacity: 1;
}
.page__contact .photo {
  display: flex;
  justify-content: center;
}
.page__contact .photo .photo__contact {
  width: 285px;
}
@media screen and (min-width: 768px) {
  .page__contact {
    padding-top: 99px;
  }
  .page__contact .contact__content {
    margin-bottom: 85px;
  }
  .page__contact .contact__content h2 {
    font-size: 32px;
  }
  .page__contact .contact__content h3 {
    font-size: 32px;
  }
  .page__contact .contact__content h3 .icon__smile {
    width: fit-content;
  }
  .page__contact .contact__content .contact__button .text {
    font-size: 20px;
  }
  .page__contact .photo {
    position: relative;
  }
  .page__contact .photo .photo__contact {
    position: absolute;
    bottom: -443px;
    right: calc(60% - 212px);
    width: fit-content;
  }
}
.page__footer {
  padding-top: 22px;
  padding-bottom: 22px;
  background-image: url('../img/footer/flag2.png');
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: 150px;
  background-color: #270C3D;
}
.page__footer .copyrights {
  font: 600 16px 'Raleway', sans-serif;
  color: #FDF9FC;
  width: 240px;
}
.page__footer .copyrights .icon__heart {
  width: 23px;
}
@media screen and (min-width: 768px) {
  .page__footer {
    padding-top: 48px;
    padding-bottom: 48px;
    background-size: auto;
  }
  .page__footer .copyrights {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }
  .page__footer .copyrights .icon__heart {
    width: fit-content;
  }
}
