@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpYCP.ttf) format('truetype');
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
iframe {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
address {
  font-style: normal;
}
iframe {
  border: none;
}
mark {
  padding: 0;
  background-color: transparent;
}
menu {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}
p {
  margin-bottom: 0;
}
section,
article,
aside,
details,
figcaption,
figure,
header,
footer,
menu,
nav {
  display: block;
}
@media screen and (min-width: 1200px) {
  .container.util--container1198 {
    max-width: 1198px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1016 {
    max-width: 1016px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container802 {
    max-width: 802px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1000 {
    max-width: 1000px;
  }
}
@media screen and (min-width: 1200px) {
  .container.util--container1028 {
    max-width: 1028px;
  }
}
@media screen and (max-width: 768px) {
  .util--padding30 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.util--carousel {
  padding-left: 0;
  padding-right: 0;
}
@keyframes effect--click {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px) translateX(-20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}
.page__header {
  padding-top: 37px;
  padding-bottom: 40px;
  position: absolute;
  width: 100%;
  background-image: url('../img/header/flag.png');
  background-repeat: no-repeat;
  background-position: top 0 left 0;
  background-size: 100px;
}
.page__header .is--mobile .navbar__hamburguer {
  margin-right: 15px;
  display: flex;
  justify-content: flex-end;
}
.page__header .is--mobile .navbar__overlay {
  background-image: linear-gradient(0deg, #943e81 0%, #550979 20%, #270c3d 100%);
  background-color: #270c3d;
  background-repeat: no-repeat;
  z-index: 3001;
  display: none;
}
.page__header .is--mobile .navbar__overlay.open {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden !important;
  transition: all linear 0.5s;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content {
  overflow-y: auto !important;
  height: 90%;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header {
  margin: 30px 54px 109px 30px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__header .overlay__logo {
  width: 77px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu {
  margin: 0;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__links a {
  font: 500 15px 'Raleway', sans-serif;
  color: #FDF9FC;
  text-decoration: none;
  margin-bottom: 16px;
}
.page__header .is--mobile .navbar__overlay.open .overlay__content .overlay__menu .overlay__social {
  width: 140px;
  margin-top: 190px;
}
.page__header .is--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .page__header {
    padding-top: 51px;
    padding-bottom: 85px;
  }
  .page__header .is--desktop {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  .page__header .is--desktop nav {
    display: flex;
    width: 480px;
    justify-content: space-between;
    align-items: center;
  }
  .page__header .is--desktop nav .header__link {
    font: 600 18px 'Raleway', sans-serif;
    color: #F4E5F3;
    transition: all linear 0.15s;
    letter-spacing: 1px;
  }
  .page__header .is--desktop nav .header__link:hover {
    transform: translateY(-5px);
    color: #f3cbf0;
    cursor: pointer;
  }
  .page__header .is--mobile {
    display: none;
  }
}
.page__banner {
  background-color: #270c3d;
  background-image: url('../img/banner/bg-banner-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 170px;
}
.page__banner .banner__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.page__banner .banner__content .banner__photo {
  width: 174px;
}
.page__banner .banner__content .banner__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 58px;
}
.page__banner .banner__content .banner__text h1 {
  font: 700 32px 'Raleway', sans-serif;
  color: #F4E5F3;
  margin-bottom: 5px;
}
.page__banner .banner__content .banner__text p {
  font: 500 18px 'Raleway', sans-serif;
  color: #F4E5F3;
  line-height: 150.4%;
  margin-bottom: 17px;
  letter-spacing: 1px;
}
.page__banner .banner__content .banner__text .social__links {
  display: flex;
  gap: 20px;
}
.page__banner .banner__content .banner__text .social__links a {
  transition: all linear 0.15s;
}
.page__banner .banner__content .banner__text .social__links a img {
  width: 30px;
}
.page__banner .banner__content .banner__text .social__links a:hover {
  transform: translateY(-5px);
}
.page__banner .banner__content .banner__text .social__links a:hover img {
  filter: brightness(0) saturate(100%) invert(99%) sepia(77%) saturate(1695%) hue-rotate(192deg) brightness(100%) contrast(91%);
}
.page__banner .chevrons__down {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 45px;
}
.page__banner .chevrons__down .chevrons {
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .page__banner {
    background-image: url('../img/banner/bg-banner.png');
    padding-top: 221px;
    padding-bottom: 90px;
  }
  .page__banner .banner__photo {
    width: 257px;
  }
  .page__banner .banner__content {
    flex-direction: row;
    gap: 50px;
  }
  .page__banner .banner__content .banner__text h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .page__banner .chevrons__down {
    display: none;
  }
}
.page__about {
  background-color: #FDF9FC;
  background-image: url('../img/sobre/bg-about.png');
  background-repeat: no-repeat;
  background-position: top 226px left -28px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.page__about .about__content h2 {
  display: flex;
  flex-direction: column;
  font: 800 32px 'Raleway', sans-serif;
  color: #550979;
  margin-bottom: 40px;
}
.page__about .about__content h2 img {
  width: fit-content;
  margin-bottom: 3px;
}
.page__about .about__content .about__text {
  font: 400 14px 'Raleway', sans-serif;
  color: #270C3D;
  line-height: 157.9%;
  margin-bottom: 40px;
}
.page__about .photo {
  display: flex;
  justify-content: center;
}
.page__about .photo img {
  width: 277px;
  border-radius: 5px;
  box-shadow: 15px 15px 0 #270C3D;
}
@media screen and (min-width: 768px) {
  .page__about {
    padding-top: 117px;
    padding-bottom: 117px;
    background-position: bottom 17px left -13px;
  }
  .page__about .about__content h2 {
    font-size: 42px;
  }
  .page__about .about__content .about__text {
    font-size: 18px;
    margin-bottom: 0;
  }
  .page__about .about__content .photo img {
    width: fit-content;
    box-shadow: 20px 20px 0 #270C3D;
  }
}
.page__training {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('../img/formacao/bg-education-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__training .title {
  display: flex;
  flex-direction: column;
  font: 800 32px 'Raleway', sans-serif;
  color: #550979;
  text-align: center;
  align-items: center;
  margin-bottom: 56px;
}
.page__training .title img {
  width: fit-content;
  margin-bottom: 4px;
}
.page__training .education__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.page__training .education__cards .card__graduation {
  background-color: #FDF9FC;
  border-radius: 5px;
  box-shadow: 4px 4px 16px #270C3D;
  width: 284px;
  height: 242px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.page__training .education__cards .card__graduation .card__image {
  margin-bottom: 16px;
  max-width: 170px;
}
.page__training .education__cards .card__graduation h3 {
  font: 600 16px 'Raleway', sans-serif;
  color: #270C3D;
  margin-bottom: 5px;
  text-align: center;
  line-height: 127.4%;
}
.page__training .education__cards .card__graduation p {
  font: 400 14px 'Raleway', sans-serif;
  color: #270C3D;
  text-align: center;
}
.page__training .education__cards .card__courses {
  width: 284px;
  height: 432px;
  background-color: #FDF9FC;
  border-radius: 5px;
  box-shadow: 4px 4px 16px #270C3D;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  position: relative;
}
.page__training .education__cards .card__courses .icon__click {
  width: fit-content;
  position: absolute;
  top: 208px;
  right: 29px;
  animation: effect--click 3s infinite both;
}
.page__training .education__cards .card__courses .card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  margin-bottom: 25px;
}
.page__training .education__cards .card__courses .card__header .logo {
  width: fit-content;
}
.page__training .education__cards .card__courses .card__header h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 600 18px 'Raleway', sans-serif;
  color: #270C3D;
}
.page__training .education__cards .card__courses .card__header h3 img {
  width: fit-content;
  margin-top: 3px;
}
.page__training .education__cards .card__courses .courses__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.page__training .education__cards .card__courses .courses__list .courses {
  display: flex;
  gap: 9px;
  align-items: center;
  font: 400 16px 'Raleway', sans-serif;
  color: #270C3D;
  transition: all linear 0.15s;
  width: fit-content;
}
.page__training .education__cards .card__courses .courses__list .courses .icon__sparkles {
  width: fit-content;
}
.page__training .education__cards .card__courses .courses__list .courses:hover {
  color: #8E2790;
  font-weight: 500;
  cursor: pointer;
  transform: translateX(5px);
}
.page__training .education__cards .card__courses .courses__list .courses:hover .icon__sparkles {
  filter: brightness(0) saturate(100%) invert(22%) sepia(74%) saturate(1868%) hue-rotate(275deg) brightness(90%) contrast(98%);
}
@media screen and (min-width: 768px) {
  .page__training {
    padding-top: 94px;
    padding-bottom: 117px;
    background-image: url('../img/formacao/bg-education.png');
  }
  .page__training .title {
    font-size: 42px;
    margin-bottom: 76px;
  }
  .page__training .education__cards {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .page__training .education__cards .card__courses {
    width: 433px;
    height: 242px;
  }
  .page__training .education__cards .card__courses .icon__click {
    top: 99px;
  }
  .page__training .education__cards .card__courses .card__header {
    flex-direction: row;
    gap: 26px;
    margin-bottom: 25px;
  }
  .page__training .education__cards .card__courses .card__header h3 {
    align-items: flex-start;
  }
  .page__training .education__cards .card__courses .courses__list {
    gap: 11px;
  }
}
.other__courses {
  padding-top: 40px;
  padding-bottom: 220px;
  background-color: #FDF9FC;
  background-image: url('../img/formacao/study.png');
  background-repeat: no-repeat;
  background-position: center bottom 20px;
}
.other__courses .title {
  display: flex;
  flex-direction: column;
  font: 700 28px 'Raleway', sans-serif;
  color: #550979;
  margin-bottom: 35px;
}
.other__courses .title img {
  width: fit-content;
  margin-bottom: 4px;
}
.other__courses .content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.other__courses .content .wrapper {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.other__courses .content .wrapper .courses {
  display: flex;
  gap: 9px;
  align-items: center;
}
.other__courses .content .wrapper .courses .icon__sparkles {
  width: fit-content;
}
.other__courses .content .wrapper .courses .course__title {
  font: 400 16px 'Raleway', sans-serif;
  color: #270C3D;
}
.other__courses .content .wrapper2 {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.other__courses .content .wrapper2 .courses {
  display: flex;
  gap: 9px;
  align-items: center;
}
.other__courses .content .wrapper2 .courses .icon__sparkles {
  width: fit-content;
}
.other__courses .content .wrapper2 .courses .course__title {
  font: 400 16px 'Raleway', sans-serif;
  color: #270C3D;
}
@media screen and (min-width: 768px) {
  .other__courses {
    padding-bottom: 65px;
    background-position: right 5% bottom 30px;
  }
  .other__courses .title {
    margin-bottom: 19px;
  }
  .other__courses .content {
    flex-direction: row;
    gap: 40px;
  }
}
.page__skills {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #270c3d;
  background-image: url('../img/skills/bg-skills.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__skills .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 800 46px 'Raleway', sans-serif;
  color: #F4E5F3;
  margin-bottom: 89px;
}
.page__skills .title img {
  width: fit-content;
  margin-bottom: 4px;
}
.page__skills .owl-carousel.owl-theme.skills__carousel .card__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.page__skills .owl-carousel.owl-theme.skills__carousel .card__skill .card__image {
  background-color: #f4e5f3;
  border-radius: 100%;
  width: 170px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page__skills .owl-carousel.owl-theme.skills__carousel .card__skill .card__image .icon__skill {
  max-width: 90px;
  max-height: 104px;
}
.page__skills .owl-carousel.owl-theme.skills__carousel .card__skill h3 {
  font: 600 26px 'Raleway', sans-serif;
  color: #F4E5F3;
  text-align: center;
  letter-spacing: 0.8px;
}
@media screen and (min-width: 768px) {
  .page__skills {
    padding-top: 98px;
    padding-bottom: 110px;
  }
}
.page__projects {
  padding-top: 60px;
  background-color: #FDF9FC;
  background-image: url('../img/projetos/bg-projects.png');
  background-repeat: no-repeat;
  background-position: top 11px right 13px;
  background-size: auto 300px;
}
.page__projects .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font: 800 46px 'Raleway', sans-serif;
  color: #550979;
  margin-bottom: 10px;
}
.page__projects .title img {
  width: fit-content;
  margin-bottom: 4px;
}
.page__projects .subtitle {
  text-align: center;
  margin-bottom: 78px;
  font: 500 20px 'Raleway', sans-serif;
  color: #270C3D;
}
.page__projects .accordion .projects__enterprises .title__enterprises {
  width: 100%;
  border: 1px solid rgba(175, 92, 157, 0.3);
  background: #FDF9FC;
  box-shadow: -5px 5px 26px 0px rgba(45, 13, 38, 0.3);
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title {
  font: 700 20px 'Raleway', sans-serif;
  letter-spacing: 2px;
  color: #550979;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 160px 25px 140px;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title .chevrons__right {
  height: 20px;
}
.page__projects .accordion .projects__enterprises .title__enterprises h2 .btn__title:focus {
  box-shadow: none;
}
.page__projects .accordion .projects__enterprises .projects__content {
  background-image: url('../img/projetos/bg-projects-b.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 118px;
  padding-top: 57px;
}
.page__projects .accordion .projects__enterprises .projects__content.content2 {
  background-image: url('../img/projetos/bg-projects-c.png');
  padding-bottom: 162px;
}
.page__projects .accordion .projects__enterprises .projects__content .description {
  font: 400 18px 'Raleway', sans-serif;
  color: #270C3D;
  line-height: 171.9%;
  padding-bottom: 80px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job {
  position: relative;
  width: 245px;
  height: 245px;
  overflow: hidden;
  border-radius: 20px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .job__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .photo__job {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all linear 0.15s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  position: absolute;
  z-index: 11;
  bottom: 14px;
  left: 16px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text h3 {
  font: 600 18px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 1.53px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links {
  display: flex;
  gap: 9px;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links .site__link {
  font: 500 14px 'Raleway', sans-serif;
  color: #FDF9FC;
  letter-spacing: 0.21px;
  border-radius: 10px;
  border: 1px solid #FDF9FC;
  padding: 5px 8px;
  transition: all linear 0.15s;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job .card__text .links .site__link:hover {
  background-color: #FDF9FC;
  color: #270C3D;
}
.page__projects .accordion .projects__enterprises .projects__content .projects__list .card__job:hover .photo__job {
  transform: scale(1.2);
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .page__projects {
    padding-top: 92px;
  }
}
.page__contact {
  padding-top: 60px;
  background-image: url('../img/contato/bg-contact.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page__contact .contact__content {
  margin-bottom: 85px;
}
.page__contact .contact__content h2 {
  display: flex;
  flex-direction: column;
  font: 600 32px 'Raleway', sans-serif;
  color: #FDF9FC;
  margin-bottom: 6px;
}
.page__contact .contact__content h2 img {
  width: fit-content;
  margin-bottom: 6px;
}
.page__contact .contact__content h3 {
  font: 600 32px 'Raleway', sans-serif;
  color: #FDF9FC;
  margin-bottom: 25px;
}
.page__contact .contact__content .text {
  font: 400 16px 'Raleway', sans-serif;
  color: #FDF9FC;
  line-height: 145.9%;
  margin-bottom: 20px;
}
.page__contact .contact__content .contact__button {
  padding: 13px 24px;
  border: 1px solid #FDF9FC;
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 15px;
  transition: all linear 0.15s;
  position: relative;
  z-index: 1;
}
.page__contact .contact__content .contact__button .text {
  z-index: 1;
  position: relative;
  font: 600 20px 'Raleway', sans-serif;
  color: #FDF9FC;
}
.page__contact .contact__content .contact__button .icon__button {
  width: 20px;
  margin-right: 9px;
}
.page__contact .contact__content .contact__button::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(90deg, #270C3D 0%, #550979 28.65%, #920C74 53.65%, #F44B74 85.94%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: 0;
  opacity: 0;
  transition: all linear 0.5s;
}
.page__contact .contact__content .contact__button:hover::after {
  opacity: 1;
}
.page__contact .photo {
  position: relative;
}
.page__contact .photo .photo__contact {
  position: absolute;
  bottom: -443px;
  right: calc(60% - 212px);
}
@media screen and (min-width: 768px) {
  .page__contact {
    padding-top: 99px;
  }
}
.page__footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-image: url('../img/footer/flag2.png');
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-color: #270C3D;
}
.page__footer .copyrights {
  text-align: center;
  font: 600 20px 'Raleway', sans-serif;
  color: #FDF9FC;
}
