/*FAKE BUTTONS*/

.button__1 {
    background-color: rgba(42, 122, 228, 1);
    color: rgba(255, 255, 255, 1);
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.button__2 {
    border: 1px solid;
    border-color: rgba(42, 122, 228, 1);
    color: rgba(42, 122, 228, 1);
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    margin-right: 10px;
}


/*BODY GERAL*/

body {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    width: 100vw;
}



/*SECTION BASE*/

.section__container {
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
}


