@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*HEADER*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
}
    .name {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;

        margin-top: 30px;
        margin-left: 150px;
        padding-bottom: 30px;
    }
        .name h1 {
            padding-left: 10px;
        }
       
    .menu {
        margin-top: 30px;
        margin-right: 150px;
        padding-bottom: 30px;
    }
        .menu a {
            padding-left: 10px;
            padding-right: 10px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
        }
            .menu a:last-child {
                font-weight: 700;
            }

/*APRESENTAÇÃO*/

.presentation {
    background: #F5F5F5;
}

    .presentation__container {
       display: flex;
       flex-direction: row-reverse; 
       justify-content: space-between;
       align-items: center;

    }

        .presentation__content h1 {
            font-weight: 700;
            font-size: 42px;
            line-height: 61px;
        }

        .presentation__content p {
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            padding-top: 25px;
            padding-bottom: 25px;
        }

        .my__pages {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                        
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            max-width: 40%;
        }
                
            .presentation__image img{
                max-width: 350px;
                min-width: 98px;
                padding-left: 15px;
                
        }

/*SOBRE MIM*/

.about__me {
    background-color: rgb(232, 222, 248);
}
    .about__me__container {
        max-width: 60%;
    }

        .about__me__container h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 35px;
            padding-top: 30px;
        }

        .about__me__container p {
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            padding: 16px 0 16px 0;
        }

        .about__me__container img {
            padding-bottom: 30px;
        }

/*SKILLS E HOBBIES*/

.skills__hobbies {
    background-color: #F5F5F5;
}

    .skills__container h1, .hobbies__container h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 16px;
    }

   .my__skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
            .card {
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                background-color: rgba(255, 255, 255, 1);
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                padding: 16px;
                margin: 15px;

                width: 175px;
                height: 175px;
            }
            
                .card i {
                    font-size: 28px;
                    color: rgba(42, 122, 228, 1);
                    padding-bottom: 8px;
                }

        .hobbies__container {
            padding-top: 80px;
        }
            
/*FORMAÇÃO*/

.academics {
    background-color: rgb(232, 222, 248);
    
}

    .first__title, .second__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 30px;
    }


        .my__education {
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
        }

            .card2 {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                
                padding: 16px;
                margin: 15px;
            }

                .card2__logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 1);
                    width: 368px;
                    height: 286px;
                }
                    .card2__logo img {
                        width: 190px;
                    }

                .card2 h2 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                    padding-top: 8px;
                    padding-bottom: 8px;
                }

                .card2 h3 {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                }

/*EXPERIÊNCIA PROFISSIONAL*/

.professional {
    background-color: #F5F5F5;
}

    .my__jobs h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        padding-bottom: 30px;
        padding-top: 16px;
    }

        .job {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 54px;
        }

        .job img {
            max-width: 754px;
        }

        .job__content {
            margin-left: 25px;
            margin-right: 25px;
        }

        .job__content h2 {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 8px;
        }

        .job__content h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 10px;
        }

        .job__buttons {
            margin-top: 16px;
        }



        
/*CONTATO*/

.contact {
    background-color: rgb(232, 222, 248);
}

    .my__contact {
        display: flex;
    }

        .my__contact img{
            max-width: 300px;
           border-radius: 10px;
        }

        .my__contact__content {
            padding-left: 30px;
        }

        .my__contact h1 {
            font-weight: 700;
            font-size: 28px;
            line-height: 38px;
            padding-bottom: 16px;
        }

        .my__contact li {
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
            padding-bottom: 8px;
        }

        .my__contact i {
            padding-right: 5px;
        }

/*FOOTER*/

.development {
    background-color: #F5F5F5;
    text-align: center;
    padding: 32px;

}


