//out: false

.page__about {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;

    .about__wrapper {
        background: #FDF9FC;
        box-shadow: -10px 10px 36px 0px rgba(39, 12, 61, 0.25);
        display: flex;
        flex-direction: column-reverse;
        width: 100%;       

        .about__content {
            padding: 30px;

            h2 {
                font: 800 32px @fontM;
                color: #270C3D;
                margin-bottom: 26px;
            }

            .about__text {
                font: 400 14px @fontR;
                color: #270C3D;
                line-height: 157.9%;
            }
        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 117px;
        padding-bottom: 117px;

        .about__wrapper {
            flex-direction: row;
            flex-wrap: wrap;

            .photo {
                width: 45%;
            }

            .about__content {
                padding: 46px 40px 40px 70px;
                width: 55%;

                h2 {
                    font-size: 42px;
                }

                .about__text {
                    font-size: 22px;
                    margin-bottom: 0;
                }           
            }

        }
    }
}