//out: false 

.page__banner {
    background-color: rgb(39, 12, 61);
    background-image: url('../img/banner/bg-hero-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 186px;
    padding-bottom: 100px;

    .banner__content {
        
        .banner__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h1 {
                font: 400 32px @fontG;
                color: #FDF9FC;
            }

            .subtitle {
                font: 600 20px @fontT;
                color: #FDF9FC;
                margin-bottom: 23px;
                padding-left: 3px;
            }

            .description {
                font: 400 16px/22px @fontT;
                color: #FDF9FC;
                letter-spacing: 0.8px;
                max-width: 380px;
                padding-left: 3px;
                margin-bottom: 50px;

                span {
                    font-weight: 700;
                }
                
            }
        }        
    }

    .chevrons__down {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 120px;

        .chevrons {
            width: fit-content;
        }        
    }
    
    @media screen and (min-width: 768px) {        
        padding-top: 273px; 
        padding-bottom: 50px; 
        background-position: center top 0; 
        background-image: url('../img/banner/bg-hero-desktop.png');  

        .banner__content {
            
            .banner__text {
                margin-left: 10%;

                h1 {
                    font-size: 52px;
                }    
                
                
            }            
        }
        
        .chevrons__down {
            margin-top: 250px;
        }
    }
}