//out: false 

.page__banner {
    background-color: rgb(39, 12, 61);
    background-image: url('../img/banner/bg-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 170px;
    padding-bottom: 48px;

    .banner__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .banner__photo {
            width: 174px;
        }

        .banner__text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            h1 {
                font: 700 32px @fontM;
                color: white;
                margin-bottom: 10px;
                letter-spacing: 2px;
            }

            p {
                font: 500 18px @fontR;
                color: white;
                line-height: 150.4%;
                margin-bottom: 17px;
            }

            .social__links {
                display: flex;
                gap: 20px;

                a {
                    transition: all linear .15s;

                    img {
                        width: 30px;
                    }

                    &:hover {
                        transform: translateY(-5px);

                        img {
                            filter: brightness(0) saturate(100%) invert(99%) sepia(77%) saturate(1695%) hue-rotate(192deg) brightness(100%) contrast(91%);
                        }
                    }

                }
            }
        }        
    }

    .chevrons__down {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 58px;

        .chevrons {
            width: fit-content;
        }        
    }
    
    @media screen and (min-width: 768px) {        
        padding-top: 221px; 
        padding-bottom: 50px;    

        .banner__content {
            flex-direction: row;
            align-items: center;
            gap: 50px;

            .banner__photo {
                width: 300px;
            }

            .banner__text {

                h1 {
                    font-size: 60px;
                }        
                
                p {
                    font-size: 32px;
                    margin-bottom: 25px;
                }
            }            
        }
        
        .chevrons__down {
            margin-top: 90px;
        }
    }
}