//out: false

.benefits {
    padding-top: 24px;
    padding-bottom: 120px;

    .wrapper {
        max-width: 1038px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        .heading {
            text-align: center;

            .title {
                background: linear-gradient(to right, #FF5C5C, #FF8C39);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                font-size: 60px;
                font-weight: 900;
                letter-spacing: 1.8px;
                margin-bottom: 10px;
                line-height: 126%;
            }

            .description {
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 0.7px;
                line-height: 126%;

                span {
                    font-weight: 700;
                }
            }
        }

        .benefits__list {
            display: flex;
            justify-content: center;
            gap: 50px;

            .benefits__card {
                border-radius: 20px;
                background-color: #FFF;
                box-shadow: 6px 6px 25px rgba(46, 53, 59, .25);
                width: 100%;
                max-width: 466px;
                padding: 36px 42px 98px 42px;
                position: relative;

                .card__description {
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0.5px;
                    line-height: 137%;
                    margin-bottom: 26px;
                    margin-top: 22px;
                    margin-left: 5px;
                }

                .card__call {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font-size: 24px;
                    line-height: 100%;
                    font-weight: 700;
                    letter-spacing: 0.7px;
                    margin-bottom: 24px;
                }

                .list__topics {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .list__item {
                        display: flex;
                        gap: 10px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 136%;
                        letter-spacing: 0.5px;
                    }
                }

                .btn__gradient,
                .btn__green {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    border-radius: 0 0 20px 20px;
                }
            }
        }
    }

    @media (max-width: @tablet) {
        padding-top: 32px;
        padding-bottom: 80px;

        .wrapper {
            gap: 60px;

            .heading {
                .title {
                    font-size: 48px;
                    letter-spacing: 1.4px;
                    line-height: 118%;
                }

                .description {
                    font-size: 18px;
                    letter-spacing: 0.5px;
                }
            }

            .benefits__list {
                flex-direction: column;
                align-items: center;

                .benefits__card {
                    padding: 32px 24px 96px 24px;

                    .btn__gradient,
                    .btn__green {
                        padding: 14px 24px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}