//out: false

.page__training {
    padding-top: 60px;
    padding-bottom: 60px;

    .title {        
        font: 800 32px @fontM;
        color: #270C3D;
        text-align: center;
        align-items: center;
        margin-bottom: 56px;

        img {
            width: fit-content;
            margin-bottom: 4px;
        }
    }

    .education__cards {
        display: flex;
        flex-direction: column;
        align-items: center;        
        gap: 30px;

        .card__graduation {
            background-color: #FDF9FC;
            border-radius: 5px;
            box-shadow: 4px 4px 16px #270C3D;
            width: 284px;
            height: 242px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .card__image {
                margin-bottom: 16px;
                max-width: 170px;
            }

            h3 {
                font: 600 16px @fontR;
                color: #270C3D;
                margin-bottom: 5px;
                text-align: center;
                line-height: 127.4%;
            }

            p {
               font: 400 14px @fontR;
               color: #270C3D;
               text-align: center;
            }
        }

        .card__courses {
            width: 284px;
            height: 380px;
            background-color: #FDF9FC;
            border-radius: 5px;
            box-shadow: 4px 4px 16px #270C3D;
            display: flex;
            flex-direction: column;
            padding: 20px 30px;
            position: relative;

            .icon__click {
                width: fit-content;
                position: absolute;
                top: 208px;
                right: 29px;
                .animation__click();
            }

            .card__header {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 18px;
                margin-bottom: 20px;

                .logo {
                    width: fit-content;
                }

                h3 {
                    font: 800 18px @fontM;
                    color: #270C3D;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .card__title {
                margin-bottom: 25px;
                margin-top: 10px;
                
                h3 {
                    font: 800 18px @fontM;
                    color: #270C3D;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 25px;
                }
            }

            .courses__list {
                display: flex;
                flex-direction: column;
                gap: 11px;

                .courses {                    
                    font: 400 16px @fontR;
                    color: #270C3D;
                    transition: all linear .15s;
                    width: fit-content;                     

                    &:hover {
                        color: #8E2790;
                        font-weight: 500;
                        cursor: pointer;
                        transform: translateX(5px);
                    }
                }

                .course__title {
                    font: 400 16px @fontR;
                    color: #270C3D;
                }
            }

        }
    }

    @media screen and (min-width: 768px) {
        padding-top: 94px;
        padding-bottom: 117px;
        background-image: url('../img/formacao/bg-education.png');
        background-repeat: no-repeat;
        background-position: bottom 0 right 0;

        .title {
            font-size: 46px;
            margin-bottom: 76px;
        }

        .education__cards {
            flex-direction: row;
            justify-content: flex-start;
            gap: 50px;
            flex-wrap: wrap;

            .card__courses {
                width: 433px;
                height: 242px;

                .icon__click {
                    top: 99px;
                }

                .card__header {
                    flex-direction: row;
                    align-items: flex-end;
                    gap: 26px;
                    margin-bottom: 25px;

                    h3 {
                        align-items: flex-start;
                        text-align: left;
                        font-size: 20px;
                        line-height: normal;
                    }                    
                }

                .card__title {
                    text-align: left;
                    font-size: 20px;
                    line-height: normal;
                }

                .courses__list {
                    gap: 11px;
                }
            }
        }

    }
}

