//out: false

.services {
    padding-top: 25px;
    padding-bottom: 200px;
    background-image: url('../img/bg-services.png');
    background-repeat: no-repeat;
    background-position: left 0 bottom 28px;
    background-size: 553px auto;

    .wrapper {
        max-width: 1284px;
        padding: 0 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading {
            text-align: center;
            margin-bottom: 64px;

            .head__title {
               color: #2E353B;
                text-align: center;
                font-family: Figtree;
                font-size: 22px;
                font-style: normal;
                font-weight: 300;
                line-height: 126%; /* 30.24px */
                letter-spacing: 1.44px; 
                text-transform: uppercase;
                margin-bottom: 8px;
            }

            .title {
                background: linear-gradient(90deg, #5C3B94 0%, #A259FF 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                color: transparent;
                font-size: 42px;
                font-weight: 900;
                letter-spacing: 1.4px;
                margin-bottom: 10px;
                line-height: 126%;
            }

            .description {
                font-size: 22px;
                font-weight: 400;
                max-width: 632px;
                line-height: 126%;
                margin: 0 auto;

                span {
                    font-weight: 700;
                }
            }
        }

        .services__list {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
            justify-content: center;

            .card__service {
                width: 325px;
                height: 290px;
                background-color: #FFF;
                border-radius: 10px;
                box-shadow: 6px 6px 20px rgba(46, 53, 59, 0.15);
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 24px 24px 60px 24px;
                text-align: center;

                .icon {
                    width: 35px;
                    margin-bottom: 12px;
                }

                .card__title {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 103%;
                    margin-bottom: 12px;
                }

                .card__text {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 137%;
                }

                .btn__orange {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 12px 30px;
                    gap: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    background-color: #5C3B94;
                    color: #f7f7f7;
                    font-size: 18px;
                    letter-spacing: 0.5px;
                    font-weight: 600;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    transition: all linear .15s;

                    &:hover {
                        color: #f7f7f7;
                        filter: brightness(1.2);
                    }
                }
            }
        }
    }

    @media (max-width: @tablet) {
        padding-top: 62px;
        padding-bottom: 62px;
        background-size: 550px;
        background-position: bottom 320px left -140px;

        .wrapper {
            .heading {
                margin-bottom: 62px;

                .title {
                    font-size: 42px;
                    letter-spacing: 1.3px;
                }

                .description {
                    font-size: 16px;
                    letter-spacing: 0.5px;
                }
            }

            .services__list {
                gap: 32px;
            }
        }
    }
}