//out: false

.testimonials {
    padding-top: 62px;
    padding-bottom: 120px;
    overflow: hidden;

    .wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 52px;

        .background {
            background-image: linear-gradient(90deg, #5C3B94 0%, #A259FF 46.63%, #AF75F9 100%);
            height: 310px;
            width: 55%;
            position: absolute;
            right: 0;
            top: 0;
            border-top-left-radius: 40px;
            border-bottom-left-radius: 40px;
            z-index: 0;
        }

        .heading {
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 270px;
            width: 346px;
            margin-top: 15px;
            margin-left: 10%;

            .top {
                .title {
                    font-size: 52px;
                    line-height: 134%;
                    letter-spacing: 1.6px;
                    margin-bottom: 12px;
                    font-weight: 700;
                }

                .subtitle {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 134%;
                    letter-spacing: 0.6px;                    

                    .link {
                        font-weight: 700;
                        color: #2E353B;
                        text-decoration: underline;
                        transition: all linear .15s;
                        display: inline;

                        &:hover {
                            color: #A259FF;
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 6px;

                .logo__google {
                    width: fit-content;
                }

                .loader {
                    --s: 40px;
                    height: calc(var(--s)*0.9);
                    width: calc(var(--s)*5);
                   --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
                   --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
                   mask:
                     conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
                     conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
                     conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
                     conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
                   -webkit-mask:
                     conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
                     conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
                     conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
                     conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
                     mask-size: var(--s) var(--s);
                   -webkit-mask-size: var(--s) var(--s);
                   mask-composite: xor,destination-over;
                   -webkit-mask-composite: xor,destination-over;
                           mask-composite: exclude,add;
                    mask-repeat:repeat-x;
                   -webkit-mask-repeat:repeat-x;
                   background:linear-gradient(#ffb940 0 0) left/0% 100% #ddd no-repeat;
                   animation: l20 2s infinite linear;
                 }
                 @keyframes l20 {
                     90%,100% {background-size:100% 100%}
                 }
            }
        }

        .carousel {
            position: relative;
            padding-top: 72px;

             .owl-carousel.owl-theme.testimonials__carousel {
                            
            
                .owl-nav {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    z-index: 10;
                    top: -56px;
                    left: 18%;

                    .owl-prev,
                    .owl-next {
                        width: 30px;
                        height: 30px;
                        background-color: #5C3B94;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0;

                        span {
                            color: #f7f7f7;
                        }
                    }
                }

                .owl-dots {
                    display: none;
                }

                .card__testimonial {
                    border-radius: 12px;
                    background-color: #FFF;
                    box-shadow: 0 2px 8px rgba(46, 53, 59, .15);
                    width: 330px;
                    height: 260px;
                    padding: 24px;
                    flex-shrink: 0;
                    margin-bottom: 30px;

                    .card__heading {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;
                        margin-bottom: 10px;

                        .customer {
                            display: flex;
                            align-items: center;

                            .test__logo {
                                width: fit-content;
                                margin-right: 18px;
                            }

                            .test__info {
                                .name {
                                    font-size: 18px;
                                    font-weight: 700;
                                    line-height: 134%;
                                    letter-spacing: 0.6px;
                                    color: #5C3B94;
                                    margin-bottom: 4px;
                                }

                                .enterprise {
                                    font-size: 14px;
                                    font-weight: 600;
                                    line-height: 134%;
                                }
                            }
                        }

                        .icon__google {
                            width: fit-content;
                            margin-top: 5px;
                            align-self: flex-start;
                        }
                    }

                    .icon__stars {
                        width: fit-content;
                        margin-bottom: 8px;
                    }

                    .card__text {
                        font-size: 14px;
                        line-height: 134%;
                        font-weight: 400;
                    }
                }
            }
        }

       
    }

    @media (max-width: 1100px) {
        padding-bottom: 62px;

        .wrapper {
            flex-direction: column;
            align-items: center;

            .background {
                width: 100%;
                height: 155px;
                border-radius: 0;
                top: auto;
                bottom: 160px;
                left: 0;
            }

            .heading {
                align-items: center;
                text-align: center;
                height: fit-content;
                gap: 32px;
                width: 100%;
                margin: 0 auto 32px auto;
                padding: 0 24px;
            }

            .owl-carousel.owl-theme.testimonials__carousel {
                .owl-dots-circle();
                margin-top: 0;

                
                .card__testimonial {
                    width: 100%;
                    max-width: 370px;
                    height: 100%;
                    
                }
            }
        }
    }
}